<!DOCTYPE html>
<html lang="zh">
   <head>
      <title>成楓望建了美景 - 2017 建成楓景聯合電資暑訓</title>
      <meta charset="utf-8" />
      <link rel="shortcut icon" type="image/jpeg" href="assets/images/favicon.jpg"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <style>
         .agreement{
            color: #337ab7;
            text-decoration: none;
            cursor:pointer;
         }
         .agreement:hover{
            text-decoration: underline;
         }
      </style>
   </head>
   <body>
      <blockquote>
         <p>
            報名人數：<%= Data.length %>
            <br>
            膜拜PCC&lt;(_ _)&gt;
         </p>
         <footer>by&nbsp;<cite>系統公告</cite></footer>
      </blockquote>
      <div class'table-responsive'>
         <table class='table table-striped'>
            <thead>
               <tr>
                  <th>學員姓名</th>
                  <th>性別</th>
                  <th>尺寸</th>
                  <th>家長姓名</th>
                  <th>連絡電話</th>
                  <th>Email</th>
                  <th>身分證字號</th>
                  <th>生日</th>
                  <th>交通方式</th>
                  <th>緊急聯絡</th>
                  <th>同意書</th>
                  <th>團報</th>
                  <th>備註</th>
               </tr>
            </thead>
            <tbody>
               <% Data.forEach(function(val, index, arr){ %>
               <tr>
                  <td><%= val.full_name %></td>
                  <td><%= val.gender %></td>
                  <td><%= val.clothe_size %></td>
                  <td><%= val.parent_name %></td>
                  <td><%= val.phone_number %></td>
                  <td><a target="_blank" href="mailto:<%= val.email %>"><%= val.email %></a></td>
                  <td><%= val.id_number %></td>
                  <td><%= val.birthday %></td>
                  <td><%= val.transport %></td>
                  <td><%= val.emergency_contact %></td>
                  <td class='agreement'><%= val.parental_consent %></td>
                  <td><%= val.group %></td>
                  <td><pre style="background-color:transparent;border:0;padding:0px;max-height:100px;"><%= val.message %></pre></td>
               </tr>
               <% }); %>
            </tbody>
         </table>
         <script src="assets/js/jquery.min.js"></script>
         <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
         <script src="assets/js/bootstrap.min.js"></script>
         <script src="assets/js/sweetalert2.min.js"></script>
         <link rel="stylesheet" href="assets/css/sweetalert2.min.css" />
         <script>
         (function($){
            $(function(){
               $(".agreement").click(function(){
                  var userName = $(this).parent().children().first().html();
                  var source = 'upload/'+$(this).html();
                  swal({
                     title: userName,
                     imageUrl: source
                  });
               });
            });
         })(jQuery);
         </script>
   </body>
</html>
